@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Path to your image */
    background-image: url('../../public/images/PeekSeekBackground.jpg');

    /* Cover the entire page */
    background-size: cover;

    /* Center the background image */
    background-position: center;

    /* Apply a blur effect */
    /*filter: blur(8px);*/


    /* Ensure the background spans the entire page */
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Since applying the filter directly to the body affects all child elements,
   you might want to add an additional container inside your root app component
   for content that shouldn't be blurred. */
.content {
    filter: blur(0);
}